<!DOCTYPE html>
<html lang="ko" xmlns:2022-01-01T00="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header id = "header"></header>

    <main>
        <header>
            <h1>첫번쨰 글</h1>
        </header>
        <aside>
            <p>cksgh</p>
            <p><a class="u-url" rel="me" href="mailto:cksghek2@gmail.com">cksghek2@gmail.com</a></p>
            <p><time datetime="2022-01-01T00:00::00">2022-01-01</time></p>
            <p>#java</p>
        </aside>


    </main>
    <footer id ="footer"></footer>
</body>
</html>